._.git
._RedDeTransporte.owx
._catalog-v001.xml
._.gitignore
._Archivos owl OntoClean-20251030
Archivos owl OntoClean-20251030/._people.cs.uct.ac.za_~mkeet_OEbook_ontologies_ontoclean-dl.owl
.gitignore
Archivos owl OntoClean-20251030/._people.cs.uct.ac.za_~mkeet_OEbook_ontologies_OntocleanTutorialOntology.owl
Archivos owl OntoClean-20251030/._people.cs.uct.ac.za_~mkeet_OEbook_ontologies_OntocleanTutorialOntologyPunned.owl
Archivos owl OntoClean-20251030/._people.cs.uct.ac.za_~mkeet_OEbook_ontologies_OntocleanTutorialOntologyPunnedMetaProperties.owl
._RedDeTransporte.properties
._SEGUNDA ENTREGA PROYECTO GRUPAL - Ingeniería de Ontologías - Grupo FALTAMARTIN.pdf
